body{
    background-color: rgb(146, 204, 146);
}

header{
    text-align:center;
    font-size: 24px;
    word-spacing:10px; 
  }

header a {
    float: center;
    color:rgb(7, 53, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
}
    
h1 {
    color: rgb(7, 53, 7);
    text-align: center;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 50px;
}
#content2 {
    position: relative;
}
#content2 img {
    position: absolute;
    top: 50px;
    left: 0px;
}


footer {
    background-color: black;
    height: 70px;
    padding: 50px;
    color: white;
    text-align: center;
}

p {
    color: rgb(7, 53, 7);
    text-align: center;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}
