body{
    background-color: rgb(146, 204, 146);
}

header{
    text-align:center;
    font-size: 24px;
    word-spacing:10px; 
  }

header a {
    float: center;
    color:rgb(7, 53, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
}
    
h1 {
    color: rgb(7, 53, 7);
    text-align: center;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
}

footer {background-color: black;
    height: 70px;
    padding: 50px;
    color: white;
  text-align: center;}

h2 {
    color: rgb(7, 53, 7);
    align-content: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}

p {
    font-family: 'Patrick Hand', cursive;
    color: rgb(7, 53, 7);
    align-content: center;
    font-size: 20px;
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgb(146, 204, 146);
    padding: 35px;
    border: 2px solid black;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  a {
    color:rgb(7, 53, 7);
    font-family: 'Patrick Hand', cursive; 
  }

  .button {
    font-size: 1em;
    padding: 10px;
    color: rgb(7, 53, 7);
    border: 2px solid  rgb(7, 53, 7);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: rgb(10, 168, 10);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }