body{
    background-color: rgb(146, 204, 146);
}

header{
    text-align:center;
    font-size: 24px;
    word-spacing:10px; 
  }

header a {
    float: center;
    color:rgb(7, 53, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
}
    
h1 {
    color: rgb(7, 53, 7);
    text-align: center;
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
}

h3{
    color: rgb(7, 53, 7);
    text-align: left;
    font-size: 30px; 
    font-family: 'Patrick Hand', cursive;
}

.box {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background: #f2f2f2;
    box-shadow: 0 5 px 15 px rgba(0,0,0,.5);
    display: flex;
    transition: .5s;
    flex-wrap: wrap;
 }
 .box:hover{
    box-shadow: 0 15px 30 px rgba(0,0,0,.5);  
 }

.box.diagonal{
    padding-left: 100px;
}

.box.diagonal a {
    margin: 0;
    padding-left: 0;
    color: #ff005c;
}

.box.diagonal p {
    margin: 10;
    padding-left: 30 px 0 0 ;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

footer {background-color: black;
    height: 70px;
    padding: 50px;
    color: white;
  text-align: center;}

h4 {
    color: rgb(7, 53, 7);
    align-content: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(7, 53, 7);
    align-content: center;
}