body{
  background-color: aliceblue;
}

header{
  text-align:center;
  font-size: 24px;
  word-spacing:10px; 
}

header a {
  float: center;
  color:rgb(7, 53, 7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
}
  
h1 {
  color: rgb(7, 53, 7);
  text-align: center;
  font-size: 70px;
  font-family: 'Patrick Hand', cursive;
}

h3 {
  color: rgb(7, 53, 7);
  font-size: 20px;
  display: block;
  font-family: 'Patrick Hand', cursive;
  background-color:rgba(66, 177, 112, 0.637);
  margin-right: 10px;
  margin-left: 10px;

}

.p1 {
  font-family: 'Patrick Hand', cursive;
  color: rgb(7, 53, 7);
  text-align: center;
  font-size: 20px;
  align-content: center;
  background-color: rgba(66, 177, 112, 0.637);
  margin-right: 20px;
  margin-left: 20px;

}
p {
  font-family: 'Patrick Hand', cursive;
  color: rgb(7, 53, 7);
  align-content: center;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
}

div{
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  font-size: 20px;
}

.horizontal-spacing {
  display: flex;
  justify-content: space-around;
  padding: 40 80px;
  text-align: center;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#content {
  position: relative;
}
#content img {
  position: absolute;
  top: 10px;
  right: 50px;
}
#content2 {
  position: relative;
}
#content2 img {
  position: absolute;
  top: 50px;
  left: 0px;
}
.box {
  padding: 10px;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0 5 px 15 px rgba(66, 177, 112, 0.637);
    display: flex;
    transition: .5s;
    flex-direction: row-reverse; 
    justify-content: space-evenly;
    margin: 3%;
}

.box1 {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: rgba(66, 177, 112, 0.637);
    box-shadow: 0 5 px 15 px rgba(0,0,0,.5);
    display: flex;
    transition: .5s;
    justify-content: space-evenly;
    margin: 3%;
 
 }


footer {
  
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: black;
  color: white;
text-align: center;}

h4 {
  color: rgb(7, 53, 7);
  align-content: center;
  font-family: 'Patrick Hand', cursive;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 25px;
  margin: auto;
}
a {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;

}


@media screen and (max-width: 700px){
  .box{
    width: 70%;
    flex-wrap: wrap;
  }
  .box1{
    width: 70%;  
    flex-wrap: wrap;
    align-items: center;
  }
  .header{
    width: 70%;
  }
  .footer{
    width: 70%;  
   }
   .body{
     justify-content: space-evenly;
   }
  
  .content{
    width: 70%; 
  }
  .horizontal-spacing{
    flex-wrap: wrap;
  }

  .content{
    image-resolution: 50%;
  }
  .content2{
    image-resolution: 50%;
  }
}