body {
  background-color: grey;
}
header {
  text-align:center;
  font-size: 24px;
  space:10px;
}
header a {
  float: center;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
article h3 {
  color: lightgrey;
  font-size: 20px;
   display: block;
}
.horizontal-spacing {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
